<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Chat App</title>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on("chat-message", (data) => {
      appendMessage(`${data.name}: ${data.message}`, false);
    });

    socket.on("user-connected", (name) => {
      appendMessage(`${name} connected`, false);
    });

    socket.on("user-disconnected", (name) => {
      appendMessage(`${name} disconnected`, false);
    });
    
    function init(){
      appendMessage("You joined", true);
      const name = '<%- user.name %>';
      socket.emit("new-user", name);

      const messageForm = document.getElementById("send-container");
      const messageInput = document.getElementById("message-input");
      messageForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const message = messageInput.value;
        appendMessage(`You: ${message}`, true);
        socket.emit("send-chat-message", message);
        messageInput.value = "";
      });
    }

    function appendMessage(message, isOwnMessage) {
      const messageContainer = document.getElementById("message-container");
      const messageElement = document.createElement("div");
      messageElement.innerText = message;
      if (isOwnMessage) messageElement.style = "background-color: rgb(117, 216, 117); color: white; margin-left: auto;";
      else messageElement.style = "background-color: #d6d6d6; color: black;";
      messageContainer.append(messageElement);
      messageElement.scrollIntoView();
    }

    window.onload = init;
  </script>
  <style>
    body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    #page {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 50px;
    }

    #topbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50%;
    }

    h2 {
      color: #333;
    }

    #logout {
      padding: 5px 15px;
      width: fit-content;
      background-color: #333;
      border: 1px solid #333;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }

    #chat {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 80vh;
      border: 1px solid #CCC;
      box-shadow: 0 0 10px #CCC;
      position: relative;
    }

    #message-container div {
      margin: 10px;
      padding: 0.5rem;
      border: 1px solid #CCC;
      border-radius: 10px;
      width: fit-content;
      max-width: 90%;
      box-sizing: border-box;
      overflow-wrap: break-word;
      text-wrap: wrap;
    }

    #message-container {
      height: 74vh;
      overflow-y: scroll;
      scrollbar-width: none;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    #send-container {
      background: rgba(0, 0, 0, 0.15);
      padding: 0.25rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      height: 3rem;
      box-sizing: border-box;
      backdrop-filter: blur(10px); 
    }
    #message-input { 
      border: none;
      padding: 0 1rem;
      flex-grow: 1;
      border-radius: 2rem;
      margin: 0.25rem; }
    #send-button {
      background: #333;
      border: none;
      padding: 0 1rem;
      margin: 0.25rem;
      border-radius: 15px;
      outline: none;
      color: #fff;
    }


  </style>
</head>
<body>
    
  <div id="page">

    <div id="topbar">
      <h2>Simple Chat App - Welcome <%- user.name %> </h2>
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" id="logout">Logout</button>
      </form>
    </div>

    <div id="chat">
      <div id="message-container"></div>
      <form id="send-container">
          <input type="text" id="message-input">
          <button type="submit" id="send-button">Send</button>
      </form>
    </div>

  </div>




</body>
</html>